<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bootstrap")
</head>
<body>
    <div ng-app="app">
        @RenderBody()
    </div>

    @Scripts.Render("~/jquery")
    @Scripts.Render("~/angularJs")
    @Scripts.Render("~/angularJs-products")

   

    @RenderSection("scripts", required: false)
</body>
</html>
